
<!-- La directiva 'ngIf' añade o elimina contenido del DOM según resuelva
la expresión indicada como 'true' o como 'false' -->
<div *ngIf="contacto">
    <!-- Nombre y apellidos del contacto -->
    <h5>{{ contacto.nombre }} {{ contacto.apellidos }}</h5>
    <hr>
    <!-- Botones para ver perfiles en redes sociales -->
    <button
        (click)="notificarNavegacionFacebook()"
        class="icono">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </button>
    <button
        (click)="notificarNavegacionTwitter()"
        class="icono">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
    </button>
    <hr>
    <!-- Datos de contacto: teléfono y correo electrónico -->
    <div>
        {{ contacto.telefono }} | {{ contacto.email }}
    </div>
    <!-- Botón eliminar contacto -->
    <button
        (click)="notificarEliminacion(contacto)"
        class="u-full-width boton-eliminar">Eliminar Contacto</button>
</div>