
<!-- Botón de ordenación -->
<button
    class="icono"
    (click)="cambiarOrden()">
    <i class="fa"
       [class.fa-sort-alpha-asc]="sentidoOrdenacion !== 'asc'"
       [class.fa-sort-alpha-desc]="sentidoOrdenacion === 'asc'"
       aria-hidden="true"></i>
</button>
<ul>
    <!-- Con la directiva 'ngFor' iteramos por una colección y
    replicamos el elemento HTML por cada item en la lista -->
    <li *ngFor="let contacto of (contactos | Ordenar :sentidoOrdenacion)"
        (click)="notificarContactoSeleccionado(contacto)">
        {{ contacto.nombre }} {{ contacto.apellidos }}
    </li>
</ul>